html,
body {
  padding: 0;
  margin: 0;
}

.container-main {
  padding: 0;
  background-image: url(@/assets/images/score-bg-criket.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  color: white;
  height: 80px;
  align-items: center;
  display: grid;
  background-position: bottom;
  position: relative;
  background-position: bottom;
}

.row-ctm {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 0;
}

.team {
  flex: 0 0 33%;
  max-width: 33%;
  text-align: center;
}

.match_status {
  flex: 0 0 33%;
  max-width: 33%;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 0px;
  padding: 4px 0;
}

.inn1 {
  font-size: 10px;
  font-weight: 600;
  font-style: italic;
  color: #fff;
  width: max-content;
  margin: 0 auto;
  padding: 5px;
}

.curr_inn {
  font-size: 12px;
  font-weight: 600;
}

.team_name {
  text-transform: capitalize;
  font-size: 14px;
  margin: 0;
  font-weight: 600;
}

.day {
  width: 100%;
  display: block;
  text-transform: capitalize;
  font-size: 10px;
}

.status {
  width: 100%;
}

.day:before {
  color: #fff;
  margin: 0 5px;
}

.day:after {
  color: #fff;
  margin: 0 5px;
}

.team_name img {
  padding-left: 5px;
  vertical-align: middle;
}

/*******************************************/
.cricket-iframe-conent {
  background-image: url(@/assets/images/score-bg-criket.jpg); /* /Content/img/score-bg-criket.jpg);*/
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 7px;
  overflow: hidden;
  width: 100%;
  margin: auto;
}

.cricket-match-info {
  background: #303030db;
  width: 100%;
  border-radius: 7px;
}

.header-section .container-main {
  background: rgba(48, 48, 48, 0.8588235294117647) !important;
  height: 110px;
}
.resultapi .container-main {
  color: #d9d9d9;
}
.container-main {
  display: grid;
  position: relative;
}
.team:first-child .team_name {
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
}

.team_name {
  text-transform: capitalize;
  font-size: 14px;
  margin: 0;
  font-weight: 600;
}
.team_name {
  font-weight: 100 !important;
}
.d-block {
  display: block !important;
}
.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}
/*************************/
.padding-5px {
  padding: 5px;
}
.cricket-match-head,
.foot-match-head,
.tenis-match-head {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.7);
  margin: 0 0;
}
.p-l-0 {
  padding-left: 0;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.txt-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.p-4-0 {
  padding: 4px 0;
}

.counter {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 110px;
  padding: 0;
  border: 0 transparent;
  margin: auto 0;
  font-family: Alumni Sans;
}
@media screen and (max-width: 500px) {
  .counter {
    margin: auto !important;
  }
}
.counter-header {
  color: hsla(0, 0%, 100%, 0.89);
  text-align: center;
}
.time-count-down-box {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  display: flex;
}
.counter-info-footer,
.counter-info-sign {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  /* display: flex; */
  text-align: center;
  margin: auto;
}
.counter-info-footer {
  font-size: 7px;
}
.time-count-down-span {
  /* font-size: 21px;
  line-height: 1.3rem; */
  color: #fff;
  font-weight: 700;
  width: 20%;
  margin: auto;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  text-align: center;
}

.hr-between-count-down-span {
  border-left: 1px solid hsla(0, 0%, 100%, 0.8196078431372549);
  height: 12px;
  margin: 2px 0 0 0;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
